$border-color: rgba(229,229,229,1.0);
$header-color: rgba(63,127,191,1.0);

header {
  margin: 0px;
  padding: 0px;
  &.global_header {
    background-color: rgba(249,249,249,1.0);
    border-bottom-color: $border-color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 40px;
  }
}

.container {
  margin: 0 auto;
  padding: 0px;
  width: 640px;
  header {
    margin: 16px 0px 0px 0px;
    border-bottom-color: rgba(229,229,229,1.0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $border-color;
    height: 39px;
    a {
      text-decoration: none;
      color: $header-color;
      &:visited {
        color: $header-color;
      }
      &:hover {
        text-decoration: underline;
        color: $header-color;
        background-color: #fff;
      }
    }
  }
}

#tabnav {
  float: left;
}

ul.tabnav {
  margin: 0px;
  padding: 0px 0px 0px 20px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  li {
    margin-bottom: -1px;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-bottom-color: $border-color;
    a {
      text-decoration: none;
      color: #000;
      &:visited {
        color: #000;
      }
      &:hover {
        text-decoration: underline;
        color: #000;
        background-color: #fff;
      }
    }
    &.selected {
      border-color: $border-color;
      border-bottom-color: #fff;
    }
  }
}

#cmdnav {
  float: right;
}

ul.cmdnav {
  margin: 0px;
  padding: 0px 0px 0px 20px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  li {
    padding: 10px;
  }
}

#main {
  clear:both;
  margin: 0px 20px 0px 20px;
  padding: 20px 0px 0px 0px;
  table {
    border-collapse: collapse;
  }
  table tr td {
    padding: 5px 10px 5px 10px;
  }
  a {
    text-decoration: underline;
    color: #000;
    &:visited {
      color: #000;
    }
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
  div.actions {
    margin: 20px 0px 10px 0px;
    input {
      margin: 0px 10px 0px 0px;
      height: 31px;
    }
    a {
      text-decoration: none;
      color: $header-color;
      &:visited {
        color: $header-color;
      }
      &:hover {
        text-decoration: underline;
        color: $header-color;
        background-color: #fff;
      }
    }
  }
}
